<section class="page-tag">
		
	<h1>låtarna</h1>
	<div>
		<div class="text-block-spacer">
			
		</div>
		
		<div class="lyrics-box">
			
			<h3>album intro</h3>

			<p>
				i am already on my way can i hold you without letting myself go
			</p>
		</div>
		
		<div class="lyrics-box">

			<h3>a Denial </h3>
			<p>
				fading colors in your head <br> 
				fading scents on your clothes in your bed <br>
				vivid memories that slips away <br>
				all the battles that you've won <br>
				all the things you've said and done belongs now to yesterday<br>
				<br>
				so close your eyes strain and make believe like it's all that you can cling to<br>
				so close your mind and you will receive all the treasures denial has to offer<br>
				<br>
				the hardest thing you'll ever know is the learning to let go<br>
				<br>
				so you're trying to hold to all those moments come and gone<br>
				with every day you tighten your grip until your knuckles turns white<br>
				your condition look quite rough but if your conviction's strong enough<br>
				you can turn back time and make it alright, right<br>
				<br>
				just breathe and hold it in<br>
				isn't there something you forgot about?<br>
				just feel i think you will begin to grasp the reasons for your doubts<br>
				<br>
				the hardest thing you'll ever know is the learning to let go<br>
				the hardest thing you'll ever find is the changing of your mind<br>
				the changing of your mind<br>
				<br>
				so let it go<br>
				just let it go<br>

				cause i think you´ve lost your mind<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>ballad bout a boy </h3>
			<p>
				let me tell you something about life you already know<br>
				it ain’t all rainbows and butterflies<br>
				it's a mean and nasty place that will beat you to your knees if you let it<br>
				if you let it<br>
				<br>
				(it's a mean and nasty place that will beat you to your knees <br>
				and keep you there permanently if you let it)<br>
				<br>
				let me tell you what i thought first time i laid my eyes on you<br>
				i thought this kid will be better than anyone<br>
				anyone i ever knew and you grew up good and wonderful<br>
				you grew up good and wonderful<br>
				<br>
				then the time came for you to be your own man and to take on the world on your own<br>
				and you did but somewhere along the line you changed<br>
				you stopped being you<br>
				<br>
				you let people stick a finger in your face and tell you you're no good<br>
				and when things got hard you started to look for something to blame <br>
				like a big shadow <br>
				go on blame the big shadow<br>
				<br>
				(not you, me or anybody is gonna hit as hard as life)<br>
				<br>
				not you me or anybody is going to hit as hard as life and now it got you where it hurts<br>
				now if you know what you're worth then go on and get what you`re worth<br>
				but be willing to take the hits along the way<br>
				<br>
				(but it's not about how hard you hit<br>
				it's about how hard you can get hit and keep moving forward<br>
				how much you can take and keep moving forward)<br>
				<br>
				now wouldn't it be great if this song where written to<br>
				anyone else but me<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>come out clean</h3>
			<p>
				she's earth<br>
				she takes it all in<br>
				her eyes are open<br>
				she sees everything<br>
				<br>
				she's got a fragile heart and a sensitive soul<br>
				her mind is open<br>
				she feels everything<br>
				<br>
				and it's not fair she says<br>
				why do i have to feel so much<br>
				but the things that she hates about herself<br>
				will turn out as things that helps her stand above it all<br>
				above it all<br>
				<br>
				life sure hurts from time to time and it's hard to keep believing<br>
				that you someday will push thru and come out clean on the other side<br>
				anything you want to to i know you can do it<br>
				although i know it's not in my place to say these things to be true.<br>
				<br>
				and it's not fair i say<br>
				why do i have to feel so much<br>
				but the things that i hate about myself<br>
				will turn out as things that helps me stand above it all<br>
				oh above it all<br>
				<br>
				life sure hurts from time to time and it's hard to keep believing<br>
				that we someday will push thru and come out clean on the other side<br>
				anything we want to do i´m sure we can do it<br>
				although i know it's not in my place to say these things to be true<br>
				<br>
				i guess i just believe in you and i know that you'll push thru somehow<br>
				and will come out clean on the other side<br>
				<br>
				will come out clean<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>meeting of actors</h3>
			<p>
				as i come to think of it<br>
				it puts a smile on my face that i was given grace<br>
				with the worst possible timing<br>
				<br>
				but it doesn't bother me<br>
				cause where my planned road came to an end i met a friend<br>
				and that's a good thing<br>
				<br>
				and in good things<br>
				the problems that crosses my path are just minor circumstances that in time shall not last<br>
				am i blessed with the privilege of feeling this for isn't this bliss<br>
				then what is<br>
				<br>
				like an opening scene of a beautiful play<br>
				and the actors hasn't learned yet what to say<br>
				trembling over the stage scared they won't get their lines right<br>
				they’re gazing out blinded by the light<br>
				no script to go with<br>
				but it seems like they like it<br>
				anyway<br>
				<br>
				i might be worried and sometimes even scared<br>
				i recall losing someone for whom I cared<br>
				and wasting time with yearning<br>
				<br>
				but i am naive<br>
				and i'm not scared to try again and i think you and i have a good chance considering<br>
				<br>
				the fact that we're spending so much of our time<br>
				if not for talking then for thinking of and making this rhyme<br>
				<br>
				so what if we lose our heads our senses and mind<br>
				if we only see problems then we're better of blind<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>tills jag hittar hem</h3>
			<p>
				jag blundade en stund<br>
				bara en blinkning en hundradels sekund<br>
				sen var allt jag trodde var på riktigt bara minnen<br>
				var det bara jag som blundade en stund<br>
				<br>
				och drömde om ett liv jag ville ha<br>
				jag kanske ville det så gärna och gjorde allting verkligt i mitt huvud<br>
				när jag blundade en stund<br>
				<br>
				men min känsla är så nära att sanningen inte spelar någon roll<br>
				jag vet nog längst inne<br>
				jag är nog bra på att ta bilder men är inte lika bra på att släppa dem sen<br>
				<br>
				och jag älskar minnet av månens sken på en småstads tomma gator<br>
				och jag älskar tanken på att vakna upp och morgontrött ta mig till jobbet<br>
				på att möta mina vänner<br>
				och att det känns som hemma<br>
				<br>
				jag minns det som igår<br>
				hur är det möjligt att det redan gått ett år<br>
				det var ju nyss vi var tillsammans visst stoppade jag tiden<br>
				och brände mina broar och byggde mig ett luftslott<br>
				där bor jag än<br>
				<br>
				med min rädsla för vad som kommer sen<br>
				kan något nånsin leva upp till den tid som har passerat<br>
				här står jag in till branten och undrar om det någonsin kommer gå<br>
				<br>
				och min känsla är så nära att sanningen inte spelar någon roll<br>
				jag vet nog längst inne<br>
				det är dags för mig att inse att jag måste släppa taget och hitta hem igen<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>don't be scared</h3>
			<p>
				do not waste another second on things that you hate<br>	
				if there's anything worth to contemplate<br>
				it can only be love<br>
				stick to your believes if they serve you<br>
				hold tight<br>
				do not waver from yourself<br>
				what you are and what you want to be<br>
				<br>
				and cast aside your troubled vision of what you do not wish to be<br>
				let your light shine bright thru the night<br>
				<br>
				and cast aside whatever lies it is that tells you differently<br>
				let your light shine bright<br>
				<br>
				and don't be scared if you drown or wander astray<br>
				and if there's darkness<br>
				be the light that shines your way<br>
				i will always stand by<br>
				patiently<br>
				don't be scared<br>
				you won't need to hold my hand but you can if you choose to<br>
				<br>
				and cast aside whatever lies it is that tells you differently<br>
				let your light shine bright thru the night and face the break of day<br>
				the angels will sing with your heart and chase the demons out of your head<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>when it comes to that </h3>
			<p>
				a little smarter when it comes to that<br>
				<br>
				here's a story bout a boy and his way of getting thru his day when his head spins<br>
				and he wonders<br>
				and he bothers<br>
				<br>
				thinking about bits and pieces and it all looks the same<br>
				his head hung low in shame<br>
				 - how I struggle oh bother<br>
				yeah he bothers<br>
				<br>
				and somewhere lost along the way is that thing he calls "believing"<br>
				in a desperate act he tries to follow thru but he winds up blaming it<br>
				on the world and his girlfriend<br>
				<br>
				the boy is trying so hard that his head soon falls out of its place<br>
				scared to loose his face he reduce to being bitter and self-righteous<br>
				<br>
				thinking of hundredmillion reasons just to justify the state that he's in<br>
				convinced that he can win his honor by biting his tongue hard enough<br>
				<br>
				and somewhere lost along the way is that feeling he calls "being"<br>
				in a desperate act he tries to push it thru with tears as he's repeating his pleading<br>
				<br>
				i wish i was a little wiser when it comes to that<br>
				i wish i was a little smarter when it comes to that<br>
				i wish i was a little thicker skinned than i <br>
				but i'm not so working my thru as i go on<br>
				i wish i was a little smarter when it comes to that<br>
				<br>
				that's no way to be strong<br>
				you're losing your head and it's all going wrong<br>
				you're walking thru a storm with open arms<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>so now you can h8 me</h3>
			<p>
				in the after hours of the battles rage<br>
				in this final moment when it's already too late<br>
				to make decisions that wasn't made before<br>
				or to reconsider walking out of the door<br>
				<br>
				it's not what we had in mind<br>
				but it is what it is so would you please be so kind<br>
				<br>
				to try and do this civilised without a song and dance<br>
				let's just leave things where they are on the floor<br>
				because we're both fed up and there's no coming back for more<br>
				<br>
				there's nothing left to say<br>
				i am already on my way<br>
				<br>
				no need to be witty or to clear the air<br>
				save me your self pity and in return you won't see me crying in despair<br>
				<br>
				there's nothing left to say<br>
				i am already on my way<br>
				there's nothing left to say<br>
				i am already up and gone<br>
				i've been a fool for you<br>
				i'm pretty sure that you've felt it to<br>
				there's nothing left to say<br>
				i am already on my way<br>
				<br>
				and maybe a few years from now<br>
				we might see our fatal blows and how we could have been smarter<br>
				and that we could have been okay<br>
				but for now i just say <br>
				that we won't be <br>
				so now you can h8 me<br>
				<br>
				so say what you need to say<br>
				i am already on my way<br>
				there´s nothing left to say<br>
				i am already up and gone<br>
				<br>
				soon your number'll be off my cellphone<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>bending patterns</h3>
			<p>
				its not hard to understand her<br>
				no thats the easy part I know<br>
				i can spend hours thinking where did she go<br>
				sitting across the table a hundred miles away<br>
				so where did she go<br>
				and there´s that smile<br>
				and i understand<br>
				and its easy<br>
				<br>
				and as for the hard part well i dont know<br>
				if there is such thing it's still to show<br>
				but i bet she spends hours thinking where did he go<br>
				sitting across the table a hundred miles away<br>
				so where did i go, ooh<br>
				and then I smile<br>
				and i bet she understands<br>
				<br>
				i would like to call you but i'm scared what i might say <br>
				am i scarred or still bleeding guess it's better this way<br>
				but i'm not sure<br>
				i think I would be grateful if you kissed me where it's sore<br>
				can you find it cause i sure can't<br>
				<br>
				can i hold you without letting myself go<br>
				can i tell you without letting you know<br>
				that you're on my mind for the better part of all the time<br>
				but i've shattered so many visions on my way (what can i say)<br>
				i miss you but i'm glad you're not around<br>
				<br>
				forgive me for my words<br>
				just another way of saying i need to take it slow<br>
				i'm bending patterns from years and years ago<br>
				<br>
				you´re not around<br>
				i miss you<br>
				i miss you<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>here it goes again</h3>
			<p>
				your time will come when a new has begun<br>
				there's no common ground to start from<br>
				you've been over and out <br>
				you've been had no doubt and here it goes again<br>
				<br>
				changed you pace<br>
				changed your town <br>
				built a fence<br>
				settled down<br>
				had enough of lifes surprises<br>
				had enough being hurt taking beatings and dirt and enough blood on your shirt<br>
				here it goes again<br>
				here it goes again<br>
				here it goes again<br>
				<br>
				where is your vision <br>
				and is it fear or love that will get you there<br>
				it's a decision cause either one of them can get you anywhere<br>
				<br>
				lend me your hand cause i can't stand how this feels<br>
				i got so much that hurts and that won't heal<br>
				i can't see why life has to be so cruel<br>
				what is the point <br>
				am i out <br>
				am i a fool<br>
				<br>
				you say things just happen in life and it's not up to me<br>
				you fear the loss of losing control but you lost that years ago<br>
				<br>
				so maybe it's not hold on to <br>
				but there you go again<br>
				again over and out <br>
				again filled with doubt with no path to follow<br>
				are you lost again cause here it comes again<br>
				<br>
				where is your vision<br>
				i guess by now you've given in to fear<br>
				bad choice of star to wish upon<br>
				investing faith in you won't get me anywhere <br>
				<br>
				lend you a hand cause i know just how yo feel<br>
				you've done enough<br>
				it hurts but that will heal<br>
				i can't see why you have to be so cruel<br>
				to get to the point<br>
				yea you're out and we are thru.<br>
			</p>
		</div>

		<div class="lyrics-box">
			<h3>album outro</h3>
			<p>
				can i hold you without letting myself go<br>
				can i hold you, can i hold you<br>
				well now i can, now i can<br>
				<br>
				and i won´t need to hold your hand<br>
			</p>
		</div>

		
	</div>
</section>	